header{
    width: 80%;
    margin: 0 auto;
    background-color: chocolate;
    padding: 5px;
}
footer{
    width: 70%;
    margin: 0 auto;
    background-color: violet;
    padding: 5px;
}
section{
    overflow: hidden;
}
article{
    width: 20%;
    margin: 2.5%;
    background-color: green;
    float: left;
}